@{
    var navLinks = new List<string[]> {
        new [] { "Paged", "Post", "Posts" },
        new [] { "About", "Home", "About" },
        new [] { "Contact", "Home", "Contact" }
    };

    var currentAction = ViewContext.RouteData.GetRequiredString("action");
    var currentController = ViewContext.RouteData.GetRequiredString("controller");
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/png" href="~/Content/Images/16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="~/Content/Images/32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/Content/Images/96x96.png" sizes="96x96">
    <link rel="apple-touch-icon" href="~/Content/Images/120x120.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/Images/180x180.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/Images/152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="~/Content/Images/167x167.png">
    <link href="@Url.Content("~/Content/Bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Style.css")" rel="stylesheet" />
</head>
<body class="d-flex flex-column">
    <nav id="nav" class="navbar navbar-expand-sm navbar-dark bg-dark py-3">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <svg xmlns="http://www.w3.org/2000/svg" class="d-block" width="36" height="36" focusable="false">
                    <rect rx="4" height="34" width="34" y="1" x="1" stroke-width="2" stroke="#fff" fill="none" />
                    <path fill="#fff" d="M12.98 25.75L12.98 25.75L13.84 23.59L13.84 23.59Q14.50 24.07 15.47 24.40L15.47 24.40L15.47 24.40Q16.45 24.72 17.23 24.72L17.23 24.72L17.23 24.72Q18.60 24.72 19.43 23.97L19.43 23.97L19.43 23.97Q20.26 23.22 20.26 22.06L20.26 22.06L20.26 22.06Q20.26 21.19 19.80 20.45L19.80 20.45L19.80 20.45Q19.34 19.70 17.47 18.82L17.47 18.82L16.09 18.18L16.09 18.18Q14.33 17.36 13.63 16.23L13.63 16.23L13.63 16.23Q12.94 15.11 12.94 13.53L12.94 13.53L12.94 13.53Q12.94 11.61 14.30 10.34L14.30 10.34L14.30 10.34Q15.66 9.07 17.79 9.07L17.79 9.07L17.79 9.07Q20.64 9.07 21.75 10L21.75 10L21.06 12.04L21.06 12.04Q20.59 11.70 19.63 11.38L19.63 11.38L19.63 11.38Q18.67 11.07 17.85 11.07L17.85 11.07L17.85 11.07Q16.65 11.07 15.97 11.75L15.97 11.75L15.97 11.75Q15.28 12.43 15.28 13.49L15.28 13.49L15.28 13.49Q15.28 14.15 15.53 14.69L15.53 14.69L15.53 14.69Q15.77 15.23 16.21 15.59L16.21 15.59L16.21 15.59Q16.65 15.95 18.01 16.61L18.01 16.61L19.42 17.28L19.42 17.28Q21.18 18.11 21.88 19.26L21.88 19.26L21.88 19.26Q22.59 20.42 22.59 22.20L22.59 22.20L22.59 22.20Q22.59 24.13 21.04 25.48L21.04 25.48L21.04 25.48Q19.49 26.83 16.89 26.83L16.89 26.83L16.89 26.83Q14.60 26.83 12.98 25.75Z" />
                </svg>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <svg class="d-block" width="44" height="36" xmlns="http://www.w3.org/2000/svg" focusable="false">
                    <rect rx="4" height="34" width="42" y="1" x="1" stroke-width="2" stroke="#fff" fill="none" />
                    <rect rx="2" height="2" width="28" y="7" x="8" stroke-width="0" stroke="none" fill="#fff" />
                    <rect rx="2" height="2" width="28" y="16" x="8" stroke-width="0" stroke="none" fill="#fff" />
                    <rect rx="2" height="2" width="28" y="26" x="8" stroke-width="0" stroke="none" fill="#fff" />
                </svg>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav">
                    @foreach (var link in navLinks) {
                        <li class="nav-item@(currentAction == link[0] && currentController == link[1] ? " active" : "")">
                            <a class="nav-link" href="@Url.Action(link[0], link[1])">@link[2]</a>
                        </li>
                    }
                </ul>
                <ul class="navbar-nav ml-sm-auto">
                    @if (!User.Identity.IsAuthenticated) {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("SignIn", "User")">Sign in</a>
                        </li>

                        <li class="nav-item@(currentAction == "Register" && currentController == "User" ? " active" : "")">
                            <a class="nav-link" href="@Url.Action("Register", "User")">Register</a>
                        </li>
                    }
                    else {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("SignOut", "User")">Sign out</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <main id="main">
        @RenderBody()
    </main>

    <footer id="footer">
        <div class="container">
            <span>Footer content</span>
        </div>
    </footer>

    <script src="@Url.Content("~/Scripts/jQuery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Bootstrap.js")" type="text/javascript"></script>
</body>
</html>