@model Spot.Models.Auth.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Register";
}

<form action="@Url.Action("Register", "Auth")" method="post" autocomplete="off">
    @Html.AntiForgeryToken()

    @Html.ValidationSummary("", new { @class = "mb-3 text-danger" })

    <div class="mb-3">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)
    </div>

    <div class="mb-3">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)
    </div>

    <div class="mb-3">
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword)
    </div>

    <button type="submit">Sign in</button>
</form>